
body {
    background-color:#515ba0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Allows for the content to be separated into two columns */ 
.column {
    float:left;
    width:50%;
}
.row:after {
    content:"";
    display:table;
    clear:both;
}

.login-container {
    background-color:#d2d5e8;
    border:none;
    position: absolute;
    top: 0;
    left:50%;
    width:40%;
    height:100%;
}

/* This creates the light background with the shadow box */
.container {
    background-color: #eaebf4;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    height:70%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The "Login" text */
h1 {
    text-align:center;
    margin:3rem auto;
    font-size:2rem;
}

.description-container {
    font-size:3rem;
    text-align: center;
    position: absolute;
    left:9%;
    width:30%;
    height:100%;
}

.description-text {
    align-items: center;
    padding:30% 0;
}


input {
    display:block;
    border-radius:0.5rem;
    width:70%;
    height:2rem;
    margin:0 auto;
    margin-bottom:0.5rem;
    border:none;
    outline:none;
}

button {
    display:block;
    margin:1rem auto;
    background-color:#9ca2cd;
    border:none;
    border-radius:10px;
    color:white;
    margin-top:10%;

    width:20rem;
    height:3rem;
}
button:hover {
    background-color:#9fa6d4;
}
button:active {
    background-color:#7a7fa5;
}
section {
    margin:auto;
    position: absolute;
    top: 10%;
    left:10%;
    width:80%;
    height:100%;
}
fieldset {
    border:none;
}