body {
    background-color:#515ba0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* The light box with the shadow */
.container {
    height: 70%;
    width: 80%;
    background-color: #eaebf4;
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display:flex;
}

/* The welcome and tagline */
.title-container {
    padding:0 2rem;
    float:left;
    width:50%;
}

.description {
    text-align: center;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:0;
    height:100%;
    width:50%;
}

/* Holds the login form */
.login-container {
    float:right;
    width:38%;
    background-color:#d2d5e8;
}

fieldset {
    border:none;
}

section {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:35vw;
}

input {
    display:block;
    border-radius:0.5rem;
    width:65%;
    height:5%;
    margin:0 auto;
    margin-bottom:0.6rem;
    border:none;
    outline:none;
    font-size:1vw;
}

button {
    display:block;
    background-color:#9ca2cd;
    border:none;
    border-radius:10px;
    color:white;
    margin-top:10%;
    width:60%;
    height:6%;
}
button:hover {
    background-color:#9fa6d4;
}
button:active {
    background-color:#7a7fa5;
}
/* The "Login" text on top of user/pass */
h1 {
    font-weight: bold;
    font-size:2vw;
    margin-bottom:4rem;
    margin-top:-3rem;
}
