.bg-mangodark { background-color: #fecb6b}
.bg-mangolight { background-color: #fcf0dd}
.bg-mangomid {background-color: #fdedce}
.btn-alt {background-color: #e9ce97;}
.btn-mangodark {background-color: #fecb6b;}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}   